/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(15 23 42);
  --secondary: rgb(148 163 184);
}

body {
  font-family: Inter, sans-serif;
  font-size: 14px;
}